<footer class="footer">
  <p>This page was built using <a href="https://gitlab.com/oe3lrt/antora-ui">a customized UI</a> based on the <a href="https://gitlab.com/antora/antora-ui-default">Antora default UI</a>.</p>
</footer>
