{{> head-prelude}}
{{> head-title}}
{{> head-info}}
{{> head-styles}}
{{#> head-styles-additional }}
  <!-- No additional styles -->
{{/head-styles-additional}}
{{> head-meta}}
{{> head-scripts}}
{{#> head-scripts-additional }}
  <!-- No additional scripts -->
{{/head-scripts-additional}}
{{> head-icons}}
