{{#unless (eq page.attributes.pdf-link-show undefined)}}
{{#if page.version}}
<div class="show-as-pdf"><a href="{{{relativize (urlresolve ./page.componentVersion.url "../")}}}{{page.version}}/{{page.component.name}}.pdf">Show as PDF</a></div>
{{else}}
<div class="show-as-pdf"><a href="{{{relativize (urlresolve ./page.componentVersion.url ./page.component.name)}}}.pdf">Show as PDF</a></div>
{{/if}}
{{/unless}}
